.btn {
    padding: 10px;
    border: none;
    background-color: var(--blue-light);
    cursor: pointer;
    justify-self: flex-end;
    align-self: flex-end;
    border-radius: 5px;

    color: white;
    font-weight: bold;
    font-size: 15px;

    &:hover {
        background-color: var(--hover-blue);
    }

    @media (max-width: 450px) {
        width: 100%;
    }
}

.form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    .input {
        width: 100%;
        padding: 15px;
        background-color: var(--mode-bg2);
        border-radius: 8px;
        box-sizing: border-box;
        color: var(--mode-text);

        font-size: 14px;
        transition: border-color 0.3s ease;

        outline: none;
        border: none;
        transition: var(--transition-bg);
    }

    .footer {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        grid-column: 1 / -1;
        justify-content: flex-end;

        button {
            width: auto;
            padding: 10px;
            font-size: 1rem;
            border: none;
            cursor: pointer;
            border-radius: 5px;

            &:nth-child(2) {
                background-color: var(--blue-light);
                color: white;

                &:hover {
                    background-color: var(--hover-blue);
                }
            }

            &:nth-child(1) {
                background-color: var(--danger);
                color: white;

                &:hover {
                    background-color: darken(#dc3545, 10);
                }
            }
        }
    }
}
