.container {
    display: flex;
    flex-direction: column;
    position: relative;

    .img_wrapper {
        width: 100%;
        height: 800px;
        position: relative;

        .img {
            object-fit: cover;
            filter: brightness(50%);
            -webkit-filter: brightness(50%);
        }
    }

    .content_wrapper {
        position: absolute;
        top: 68%;
        transform: translateY(-68%);
        -webkit-transform: translateY(-68%);
        -moz-transform: translateY(-68%);
        -ms-transform: translateY(-68%);
        -o-transform: translateY(-68%);
        color: white;
        padding: 10px 20px;
        display: flex;
        flex-direction: column;
        gap: 45px;

        .title {
            font-weight: bold;
            font-size: 80px;
            text-transform: uppercase;
            line-height: 1;
        }

        .link {
            background-color: var(--blue-light);
            color: white;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            font-weight: 500;
            font-size: 16px;
            text-transform: uppercase;
            padding: 10px;
            width: 350px;
            display: block;
            text-align: center;

            &:hover {
                background-color: var(--hover-blue);
            }
        }
    }

    @media (max-width: 1024px) {
        .img_wrapper {
            width: 100%;
            height: 600px;
        }

        .content_wrapper {
            top: auto;
            bottom: 5px;
            padding: 10px;
            gap: 25px;
            width: 100%;

            .title {
                font-size: 45px;
            }
        }
    }

    @media (max-width: 450px) {
        .img_wrapper {
            width: 100%;
            height: 500px;
        }

        .content_wrapper {
            top: auto;
            bottom: 5px;
            padding: 10px;
            gap: 25px;
            width: 100%;

            .title {
                font-size: 35px;
            }

            .link {
                width: 300px;
                font-size: 14px;
            }
        }
    }
}
