.container {
    position: relative;
    display: flex;
    align-items: center;

    .input {
        padding-right: 40px !important;
    }

    .icon {
        position: absolute;
        right: 12px;
        cursor: pointer;
        color: #888;
    }
}
