@media (max-width: 1024px) {
    .header_desktop {
        display: none;
    }

    .header_mobile {
        display: block;
    }
}

@media (min-width: 1025px) {
    .header_mobile {
        display: none;
    }
}
