.container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .content {
        padding-inline: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .title {
            text-transform: uppercase;
            color: var(--mode-text);
            font-size: 30px;
            font-weight: bold;
        }
    }
}
