.container {
    display: flex;
    flex-direction: column;

    .content {
        padding: 30px;
        margin: 10px;

        h2,
        h3 {
            color: var(--mode-text);

            margin-bottom: 15px;
        }

        p {
            margin-bottom: 10px;
            line-height: 1.6;
            color: var(--pc-subtitle-color);
        }

        ul {
            margin-bottom: 20px;
            list-style-type: disc;
            padding-left: 20px;

            li {
                margin-bottom: 10px;
                color: var(--pc-keys-title-color);
            }
        }
    }
}
