.container {
    margin-top: 80px;
    width: 100%;
    max-width: 400px;

    .form {
        display: flex;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px 0px;
        border-radius: 12px;
        background-color: var(--mode-bg1);
        padding: 40px 30px;
        gap: 24px;
        width: 100%;

        .header {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .title {
                color: var(--mode-text);
                font-size: 28px;
                font-weight: 600;
                text-align: center;
            }

            .subtitle {
                color: var(--gray);
                font-size: 14px;
                text-align: center;
            }
        }

        .input_block {
            display: flex;
            flex-direction: column;
            gap: 14px;

            .input {
                width: 100%;
                padding: 15px;
                background-color: var(--mode-bg2);
                border-radius: 8px;
                box-sizing: border-box;
                color: var(--mode-text);

                font-size: 14px;
                transition: border-color 0.3s ease;

                outline: none;
                border: none;
                transition: var(--transition-bg);
                -webkit-transition: var(--transition-bg);
                -moz-transition: var(--transition-bg);
                -ms-transition: var(--transition-bg);
                -o-transition: var(--transition-bg);
            }

            .forgot_password {
                color: var(--blue-light);
                font-size: 14px;
                text-align: right;
                cursor: pointer;
            }
        }

        .btn {
            background-color: var(--blue-light);
            color: white;
            padding: 12px;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            -webkit-transition: background-color 0.3s ease;
            -moz-transition: background-color 0.3s ease;
            -ms-transition: background-color 0.3s ease;
            -o-transition: background-color 0.3s ease;

            &:hover {
                background-color: var(--hover-blue);
            }
        }

        .footer {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            gap: 5px;

            .footer_title {
                color: var(--mode-text);
                font-size: 12px;
                display: flex;
                align-items: center;
                gap: 5px;
                justify-content: center;

                .link {
                    color: var(--blue-light);
                    cursor: pointer;
                }
            }
        }

        transition: var(--transition-bg);
        -webkit-transition: var(--transition-bg);
        -moz-transition: var(--transition-bg);
        -ms-transition: var(--transition-bg);
        -o-transition: var(--transition-bg);
    }
}
