:root {
    // static variables
    --blue-dark: #0048ff;
    --blue-light: #007bff;
    --black: #1c1c1c;
    --danger: #dc3545;

    --green: #097969;
    --gray: #666;

    --hover-blue: rgb(2, 93, 190);

    --transition-bg: background-color 1s ease;
    --transition-border: border 1s ease;
    --transition-color: color 1s ease;

    // mode depended variables
    --mode-text: #1c1c1c;
    --mode-bg1: white;
    --mode-bg2: #f5f5f5;
    --mode-bg3: white;
    --mode-bg4: #f0f0f0;

    --pc-text-color: #333;
    --pc-subtitle-color: #555;
    --pc-keys-title-color: #444;
    --pc-list-text-color: #666;

    --footer: #f8f8ff;
}

[data-theme='dark'] {
    --mode-text: #cccccd;
    --mode-bg1: rgb(32, 33, 36);
    --mode-bg2: #303133;
    --mode-bg3: #1c1c1c;
    --mode-bg4: #333333;

    --pc-text-color: #e0e0e0;
    --pc-subtitle-color: #cccccc;
    --pc-keys-title-color: #bbbbbb;
    --pc-list-text-color: #dddddd;

    --footer: #23282b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--mode-bg2);
    transition: var(--transition-bg);
    -webkit-transition: var(--transition-bg);
    -moz-transition: var(--transition-bg);
    -ms-transition: var(--transition-bg);
    -o-transition: var(--transition-bg);
}

a {
    text-decoration: none;
}

// file upload  promo-label
.filepond--credits {
    display: none;
}

.filepond--wrapper {
    background-color: var(--mode-bg1) !important;
    transition: var(--transition-bg);
}

.filepond--drop-label {
    background-color: var(--mode-bg4) !important;
    color: var(--mode-text) !important;
    transition: var(--transition-bg);
}

.filepond--panel-root {
    background-color: var(--mode-bg4) !important;
    transition: var(--transition-bg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #f0f0f0;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #747474;
        border-radius: 10px;
        border: 2px solid #f0f0f0;
    }

    scrollbar-width: thin;
    scrollbar-color: #747474 #f0f0f0;
}
